.mapContainer {
  width: 50vw;
  height: 50vw;
}

.Map {
  width: 50vw;
  margin: 30px auto;
}

.canvas {
  box-shadow: 0px 0px 23px rgba(150, 150, 150, 0.4);
}

.extras {
  text-align: center;
  width: 30%;
  padding: 20px;
  margin: 0 auto;
}

.custom-switch {
  margin: 10px auto;
}

